<a href="https://colab.research.google.com/github/daichi-a/PythonDataAnalyzeClassMaterial/blob/master/PyDataAnalyze_t_Test_ID.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTaptSvrA7xwPVr-v6IvYdPIwNpsQI3LqpL_DQFW3mCmfbxSBuCK4d_NoFkD7msjeVZg8stda-Q_UzE/pub?gid=234345710&single=true&output=csv')
df.head()

     年月  江戸川臨海.jan.ave  東京.jan.ave  ...  八王子.aug.ave  練馬.aug.ave  府中.aug.ave
0  1977            3.1         3.4  ...         23.7        24.4        23.8
1  1978            5.4         5.6  ...         27.4        28.2        27.6
2  1979            5.8         6.6  ...         25.9        26.4        26.1
3  1980            5.2         5.6  ...         22.4        22.7        22.5
4  1981            3.9         4.4  ...         24.9        26.1        25.1

[5 rows x 13 columns]

In [2]:
df2 = df.dropna(how='any')
print(df2.shape)

(41, 13)

In [4]:
#まず，江戸川と練馬のそれぞれ1月だけ，8月だけの配列を作る．
#それぞれ列を取り出して，データの次元を確認する
edogawa_jan = df2.loc[:, ['江戸川臨海.jan.ave']]
edogawa_aug = df2.loc[:, ['江戸川臨海.aug.ave']]
print('Edogawa Jan. shape:', edogawa_jan.shape)
# 1次元にする
edogawa_jan = edogawa_jan.values.flatten()
edogawa_aug = edogawa_aug.values.flatten()
# 次元を確認
print('Edogawa Jan. shape:', edogawa_jan.shape)
# 中身を確認
print(edogawa_jan)
# printした結果，中身が文字列なので，実数に変更
edogawa_jan = edogawa_jan.astype('float32')
edogawa_aug = edogawa_aug.astype('float32')
# 中身を確認する
print(edogawa_jan)
print(edogawa_aug)
print(edogawa_jan.shape)
print(edogawa_aug.shape)

# 練馬のデータも同じ様に処理する
nerima_jan = df2.loc[:, ['練馬.jan.ave']]
nerima_aug = df2.loc[:, ['練馬.aug.ave']]
nerima_jan = nerima_jan.values.flatten()
nerima_aug = nerima_aug.values.flatten()
nerima_jan = nerima_jan.astype('float32')
nerima_aug = nerima_aug.astype('float32')
print(nerima_jan)
print(nerima_jan.shape)
print(nerima_aug)
print(nerima_aug.shape)

Edogawa Jan. shape: (41, 1)
Edogawa Jan. shape: (41,)
[3.1 5.4 5.8 5.2 3.9 5.5 5.6 3.1 3.6 3.9 5.3 7.  7.5 4.8 6.1 6.3 5.7 6.2
 5.9 6.1 6.6 5.1 6.4 7.3 4.5 7.1 5.1 6.  6.1 4.9 7.4 5.7 6.7 5.  4.3 5.2
 5.9 6.1 6.5 6.4 5.2]
[3.1 5.4 5.8 5.2 3.9 5.5 5.6 3.1 3.6 3.9 5.3 7.  7.5 4.8 6.1 6.3 5.7 6.2
 5.9 6.1 6.6 5.1 6.4 7.3 4.5 7.1 5.1 6.  6.1 4.9 7.4 5.7 6.7 5.  4.3 5.2
 5.9 6.1 6.5 6.4 5.2]
[24.1 28.1 26.3 22.3 25.5 25.9 26.1 27.4 26.7 25.4 25.8 25.3 26.  27.5
 24.6 25.7 23.7 27.7 27.8 24.9 25.9 26.4 27.8 27.3 25.6 26.7 24.8 26.4
 26.8 26.4 27.7 26.2 28.6 26.8 28.2 28.3 26.3 26.5 27.2 26.4 27.7]
(41,)
(41,)
[2.2 4.  4.6 3.8 2.7 4.6 4.6 2.  2.7 3.  4.2 6.2 6.8 3.6 4.8 5.4 5.  4.2
 4.8 5.1 5.2 3.8 5.2 6.6 3.4 5.8 4.  5.1 4.5 3.8 6.3 4.6 5.6 3.9 3.4 3.7
 4.4 5.  5.2 5.  3.8]
(41,)
[24.4 28.2 26.4 22.7 26.1 26.6 27.  28.2 27.8 26.6 26.8 26.5 26.7 28.4
 25.1 26.9 24.3 28.9 29.4 26.  27.  26.9 28.6 28.  26.  27.8 25.9 27.
 28.  27.6 29.1 26.5 29.9 27.4 29.  28.4 27.  26.7 27.2 26.5 28.3]
(41,)

In [5]:
print('1977年から1988年までの1月の江戸川の平均気温', np.average(edogawa_jan))
print('1977年から1988年までの8月の江戸川の平均気温', np.average(edogawa_aug))
print('1977年から1988年までの1月の練馬の平均気温', np.average(nerima_jan))
print('1977年から1988年までの8月の練馬の平均気温', np.average(nerima_aug))

1977年から1988年までの1月の江戸川の平均気温 5.597561
1977年から1988年までの8月の江戸川の平均気温 26.360973
1977年から1988年までの1月の練馬の平均気温 4.453658
1977年から1988年までの8月の練馬の平均気温 27.117075

In [6]:
# 帰無仮説は「二つの集団の間に差がない」 = 「同じ年の江戸川と練馬の1月（8月）の月平均気温の間には，差がない」
# 対立仮説は「二つの集団の間に差がある」 = 「同じ年の江戸川と練馬の1月（8月）の月平均気温の間には，差がある」
# であり， 結果のp値が0.05を下回っていれば，「差がある」と見るべきである．

# この場合，
# 1. 同じ年で違う地点でのデータが，二つの地点の配列の並びの中で，同じ場所にある
# 2. 「何年」なのかは順不同になる．つまり古い順とか新しい順に並んでいる必要はない
# というデータの形にして食べさせれば良い

import scipy.stats

# これだけで検定を実行できる
result_jan = scipy.stats.ttest_rel(edogawa_jan, nerima_jan)
result_aug = scipy.stats.ttest_rel(edogawa_aug, nerima_aug)

#結果を出力する
print('同じ年の江戸川と練馬の1月の月平均気温の検定', result_jan)
print('同じ年の江戸川と練馬の8月の月平均気温の検定', result_aug)

同じ年の江戸川と練馬の1月の月平均気温の検定 Ttest_relResult(statistic=27.58108051178886, pvalue=1.203404241196893e-27)
同じ年の江戸川と練馬の8月の月平均気温の検定 Ttest_relResult(statistic=-11.70687214652232, pvalue=1.698531176507447e-14)

In [7]:
# 次に「2群間に対応がない場合」を行う

# データが「等分散」というのは，母集団の数値の分散，つまり数値のばらつき方が同じか違うか，ということであり，
# 一般的には「等分散ではない」つまり二つの集団の数値のばらつき具合が異なっていても良い方法を使う

# 分散が同じ場合は「Studentのt検定」と呼び，
# 分散が異なる場合は「Welchのt検定」と呼ぶ

# 帰無仮説は「二つの集団の間に差がない」 = 「江戸川と練馬の1月の月平均気温の間には，差がない」
# 対立仮説は「二つの集団の間に差がある」 = 「江戸川と練馬の1月の月平均気温の間には，差がある」
# であり， 結果のp値が0.05を下回っていれば，「差がある」と見るべきである．

# これだけで実行できる
import scipy.stats
result_jan = scipy.stats.ttest_ind(edogawa_jan, nerima_jan)
result_aug = scipy.stats.ttest_ind(edogawa_aug, nerima_aug)

# 結果を出力する
print('1月の江戸川と練馬の月平均気温の検定', result_jan)
print('8月の江戸川と練馬の月平均気温の検定', result_aug)

1月の江戸川と練馬の月平均気温の検定 Ttest_indResult(statistic=4.6782503978085215, pvalue=1.1599005671463611e-05)
8月の江戸川と練馬の月平均気温の検定 Ttest_indResult(statistic=-2.477117763781257, pvalue=0.015352474172098927)

In [9]:
# # statsmodelsを使って，2群間に対応がないt検定を行う．
import statsmodels.stats.weightstats
result_jan = statsmodels.stats.weightstats.ttest_ind(edogawa_jan, nerima_jan)
result_aug = statsmodels.stats.weightstats.ttest_ind(edogawa_aug, nerima_aug)
print('1月の江戸川と練馬の月平均気温の検定', result_jan)
print('8月の江戸川と練馬の月平均気温の検定', result_aug)

1月の江戸川と練馬の月平均気温の検定 (4.678248968183461, 1.1599069103452961e-05, 80.0)
8月の江戸川と練馬の月平均気温の検定 (-2.477104608556971, 0.015352998772965724, 80.0)